.team-canvas {
    position: relative;
    margin: auto;
    #cvas {margin: auto;}
    .can {
        position: absolute;
        &.a {top: -15%; left:20% ;}
        &.b {top:  -15%;right:20%; ;}
        &.c {top: 43%;right: 0;}
        &.d {bottom:  -15%;right:20% ;}
        &.e {bottom: -15%;left:20% ;}
        &.f {top: 43%;left:0 ;}

    }
}